@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* common start */
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:#000000;
} 
/* common end */
/* header start */
header{
background-color:#F0FFF0 ;
padding: 5px 0;
}
.c-nav{

}
.logo{

}
.menu{

}
.menu ul li a{ 
   
    color: #000000 !important;
    line-height: 24px;
    padding:0 24px !important;
}
.menu ul li a:hover{
    color:#FD511A !important;
}
.btn-sign{
    font-family: 'Roboto', sans-serif;
    color:#FFFFFF;
    background-color: #21B573;
    border: 0;
    border-radius: 33px;
    padding: 12px 28px;
    line-height: 19px;
}
.btn-sign:hover{
    color: #FFFFFF;
    background-color:#FD511A;
}
/* header end */
/* banner start */
.banner{
     background-color: #F0FFF0;
     padding: 35px 0 65px;
}
.b_text{}
.b_red{
    color: #FD511A;
    line-height: 24px;
}
.b_h1{
     margin: 10px 0 20px;
     font-size: 48px; 
     font-weight: 700;
     line-height: 70px;
     padding-right: 100px;
}
.b_h1 span{
     color: #21B573;
}
.b_black{
    line-height: 36px;
}
.b_banner{
    margin-top: 15px;
    padding: 12px 36px;
}
.b_image{}
.b_image img{

}
/* banner end */